.App {
  /* display: inline-block; */
  text-align: center;
  max-width: 700px;
  margin: auto;
}

#title {
  font-variant: small-caps;
  color: rgb(75, 3, 75);
  margin: 20px 0;
  padding: 20px 0;
}

@media (min-width: 500px) {

  #inputForm form {
    min-width: 400px;
    max-width: 600px;
  }

  #display {
    max-width: 600px;
  }
  
}

@media (max-width: 499px) {
  #inputForm form {
    width: 85%;
  }
}

#inputForm form {
  display: inline-flex;
  /* margin: auto; */
}

#inputForm input {
  height: 45px;
  width: 100%;
  border: 2px solid gray;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  padding: 0 10px;
  text-align: left;
  font-size: 1.1rem;
  background-color:whitesmoke;

}

#inputForm input:focus {
  background-color: white;
  border-bottom-color: green;
}

#inputForm {
  padding: 10px 0;
}

#addBtn {
  border-radius: 30%;
  /* border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; */
  border: none;
  font-size: 17px;
  height: 35px;
  width: 37px;
  background-color: steelblue;
  color: white;
  box-shadow: 3px 3px 3px gray;
}

#addBtn:disabled {
  background-color: lightgray;
  color: gray;
}

#display {
  margin: auto;
  max-width: 400px;
  min-height: 100px;
  text-align: left;
  padding: 0 10px;
}

.todoItem {
  display: grid;
  grid-template-columns: 80% 20%;
  margin-bottom: 15px;
  min-height: 50px;
  padding: 5px;
  box-shadow: 2px 3px 3px 2px gray;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.todoItem span {
  max-width: 100%;
  word-wrap: break-word;
}

.todo-text {
  display: flex;
  align-items: center;
}

.actionBtns {
  display: inline-flex;
  justify-content: space-between;
}

.actionBtns > * {
  border: none;
  font-size: 20px;
  background-color: transparent;
  border-radius: 50%;
  margin: 0 5px 0 0;
}

.markBtn {
  color: rgb(66, 146, 66);
}

.deleteBtn {
  color: rgb(177, 22, 22);
}

.undoBtn {
  color: rgb(211, 65, 12);
  
}

